/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, p, label, a {
  margin: 0;
}

h1, input, button {
  font: inherit;
}

button,
input[type=checkbox] {
  cursor: pointer;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
  font-size: .7rem;
  background-color: #92b7f8;
}

/* Utility Classes */
.centered {
  display: grid;
  place-content: center;
}

.bold {
  font-weight: 600;
}

.centered-text {
  text-align: center;
}

/* Typography */
h1 {
  font-size: .9rem;
}

a {
  text-decoration: none;
  color: #327bf8;
}

.sign-in-help,
footer > * {
  color: #696868;
}

footer > a:hover,
footer > a:focus {
  color: #327bf8;
}

a:focus,
a:hover {
  font-weight: 600;
}

/* Layout */
.card {
  width: 90vw;
  height: 80vh;
  border-radius: 1.5em;
  /* background-color: #ffffff; */
  background-color: transparent;
  outline: 1px solid violet;
}

.container {
  width: 37vw;
  padding: 1em;
  outline: 1px solid violet;
}

form {
  margin-top: 1.75em;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: .25em;
}

.input-box > input {
  width: 100%;
}

input {
  padding: .75em;
  border: .1rem solid #cdc9c9;
  border-radius: .25em;
}

input:focus {
  border: .05rem solid #327bf8;
}

.user-controls {
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
}

.sign-in-btn {
  width: 100%;
  margin-bottom: 1.25em;
  padding: .75em 0;
  border: none;
  border-radius: .25em;
  color: #ffffff;
  background-color: #d2d5dd;
}

.center {
  display: flex;
  justify-content: center;
  gap: .25em;
}

.container {
  position: relative;
}

footer {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 1em;
  width: 45vw;
}

/* Deco pattern */
.card {
  background-color: #ffffff;
  background-image: 
    radial-gradient(circle,
      transparent 1rem,
      #327bf8 1rem,
      #327bf8 3rem,
      steelblue 3rem,
      steelblue 5rem,
      transparent 5rem,
    );
  background-size: 20rem 20rem;
}